.aboutContent {
    background-color:var(--background);
    width: 100%;
    height:129vh;
    top: 0;
    left: 0;
    margin: auto auto;
}
.wrapper{
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 19px;
    padding:8rem;
    margin: auto auto;
}

.aboutpage {
    width: 120%;
    height: 100vh;
    grid-template-rows: repeat(7, 1fr);
    column-gap: 12px;
    text-align: justify;
}

.aboutme {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    text-justify: auto;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-primary);
    font-family:Poppin, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left:5rem;
}

.contact {
    display: flex;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact {
    position: fixed; 
    width:56px;
    height: 0;
    background-color:var(--text-primary);
    margin: auto auto;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: -67rem;
    margin-left: -5.1rem;
    padding-left: 0.5rem;
  }

  .contactdiv {
      border: 1px solid var(--text-secondary);
      border-radius: 50%;
    }
    
  .contactdiv .img{
    color: var(--text-primary);
    size: 20px;
  }

  .contacte {
    display: flex;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding-left: 4rem;
}

.imge {
    color: var(--text-primary);
}
.let-connect {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    font-family: sans-serif;
    color:  var(--text-primary);
    visibility: visible;    
}

.h1 {
    font-size: 24;
    color: var(--text-secondary);
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}
.resume {
    display: flex;
    grid-row-start: 6;
    grid-row-end: 8;
    padding: 0.9rem 0.6rem 1rem 1.6rem;
    text-align: center;
    width: 10rem;
    border-width: 1rem;
    box-sizing: border-box;
    background-color: var(--text-secondary);
    height: 7vh;
    font-size: 16px;
    border-radius: 1.6rem;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 4rem;    
}
.resume a {
    color: var(--background);
}

.resume:hover {
    background-color: var(--text-primary);
    color: var(--background);
    border-bottom-width: 1px;
    transition: 0.3ms;
}
.p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  var(--text-primary);
    visibility: visible;
}
.imgie {
    width: 100%;
    height: 100vh;
    grid-column-start: 2;
    grid-column-end:3;
    width: 60%;
    margin: auto auto;
    padding-left: 19px;
    margin-left: 14rem;
}

.imgportfolio {
width: 90%;
margin-top: 6rem;
background-color: var(--text-secondary);
height: 57vh;
border-radius: 50% 0 50% 50% / 40% 0 60% 60%;
}


.aboutimg{
    width: 100%;
    height: 57vh;
    border-radius: 19px solid var(--accent);
    border-radius: 50% 0 50% 50% / 40% 0 60% 60%;
}

 @media screen and (max-width: 640px){
  .wrapper {
    padding: 0;
    display:block;
    margin: auto auto;
    width: 90%;
  }  
.aboutContent {
 width: 100%;
 margin-top: 7rem;
 border-radius: 0.5rem;
}
.i {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.aboutpage {
    height: 89vh;
    padding: 0.5rem;
    border-radius: 5rem;
}
.aboutme {
    width: 80%;
    border-top-right-radius: 5rem;
    padding-left: 0;
}
.contact {
    margin-left: -25rem;
}
.contacte {
    padding-left: 0;
}
.h1 {
    text-align: center;
}

.p {
    margin: auto auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    width: 19rem;
}
.resume{
    padding-bottom: 0;
    margin-top:1rem;
    margin-left: 0;
}

}