.aboutContent {
    background-color: #0a192f;
    width: 100%;
    height:119vh;
    top: 0;
    left: 0;
    margin: auto auto;
    border-top-right-radius: 6rem;
    /* margin-top: 1rem; */
}
.wrapper{
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    padding:8rem;
    margin: auto auto;
}

.aboutpage {
    width: 100%;
    height: 100vh;
    grid-template-rows: repeat(7, 1fr);
    column-gap: 12px;
    text-align: justify;
}

.aboutme {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    text-justify: auto;
    font-weight: 600;
    line-height: 1.5;
    color: #8892b0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.contact {
    display: flex;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact {
    position: fixed; 
    width:59px;
    height: 0;
    background-color: #fff;
    margin: auto auto;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: -67rem;
    margin-left: -5rem;
    padding-left: 0.5rem;
  }

  .contactdiv {
    color: var(--text-primary);
    border: 1px solid var(--text-secondary);
    border-radius: 50%;
}

  .contacte {
    display: flex;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}
.let-connect {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    font-family: sans-serif;
    color:  #8892b0;
    font-family: sans-serif;
    visibility: visible;
    
}

.h1 {
    font-size: 24;
    color:rgba(235, 30, 156, 0.993);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.resume {
    display: flex;
    grid-row-start: 6;
    grid-row-end: 8;
    padding: 0.9rem 0.6rem 1rem 1.6rem;
    text-align: center;
    width: 10rem;
    border-width: 1rem;
    box-sizing: border-box;
    background-color: rgb(104, 135, 155);
    height: 7vh;
    font-size: 16px;
    border-radius: 0.5rem;
    color:rgb(24, 23, 23);
    font-family: sans-serif
}

.resume:hover {
    background-color: #92929c;
    color: #fff;
    border-bottom-width: 1px;
    transition: 0.3ms;
}
.p {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:  #8892b0;
    visibility: visible;
}
.languages {
    width: 100%;
    height: 100vh;
    grid-column-start: 2;
    grid-column-end:3;
    padding-left: 6rem;
}
.language {
    display: grid;
    grid-template-columns: 140px 120px 185px;
    grid-gap: 16px;
    background-color: #0a192f;
    color: #8892b0;
    grid-row-gap: 16px;
    text-align: center;
}

.i {
    color: #64ffda;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6;
    font-family: sans-serif;
    visibility: visible;
}

.box {
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color:#233554;
    border: 2px solid #233554;
    border-top: #172b4d;
    transition: transform .2s;
    transition: 0.3s all ease-in-out;
  }
.box:hover {
    background-color: #9b9ea7;
    color: #000;
    border-bottom-width: 1px;
    transition: 0.3ms;
    border: 1px solid rgba(235, 30, 156, 0.993) ;
}

.box.i {
    width: 100%;
    height: 89%;
    padding-top:0.6rem;
    font-size: 16px;
    font-weight: 400;
}


 @media screen and (max-width: 640px){
  .wrapper {
    padding: 0;
    display:block;
    margin: auto auto;
    width: 90%;
  }  
  
  .languages {
      display:block;
      padding: 0;
      width: 100%;
      height: 75vh;
      margin-top: 5.1rem;
}

.language {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 12px;
    grid-row-gap: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    padding-left: 0;
    margin-top:-1rem;
  }
.aboutContent {
 height: 200vh;
 width: 100%;
 margin-top: 4rem;
 border-radius: 0.5rem;
}
.i {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.aboutpage {
    height: 89vh;
    padding: 0.5rem;
    border-radius: 5rem;
}
.aboutme {
    width: 80%;
    border-top-right-radius: 5rem;
    /* height: 100; */
}
.h1 {
    text-align: center;
}

.p {
    margin: auto auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    width: 19rem;
}
.resume{
    padding-bottom: 0;
    /* margin-top: -1rem; */
    margin-top:1rem;
}

.box {
    padding: 8px;
    font-size: 15px;
}

.box.i {
    height: 80%;
    padding-top:0.4rem;
    padding-bottom: 0.6rem;
}

}