.contact {
    position: fixed; 
    width:29px;
    height: 0;
    background-color: #fff;
    margin: auto auto;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: -59rem;
    margin-left: -5rem;
  }

  

 