@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background-color: var(--background);
  width: auto;
}

h1, h4, p,
a {
  color:#fff;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  font-family: sans-serif;
  background:var(--text-secondary);
  color: #000;
  border: 1px solid var(--text-secondary);
  font-weight: 660;
  cursor: pointer;
  width: 9.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 8vh;
  margin-top: 1.6rem;
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
}

.btn-light {
  background: transparent;
  color: var(--text-primary);
  padding: 12px 32px;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid var(--text-secondary);
  font-weight: 660;
  cursor: pointer;
  width: 9.5rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 8vh;
  margin-top: 1.6rem;
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
}

.btn:hover {
background: var(--text-primary);
color: var(--background);
transition: 0.3s;
}

.btn-light:hover {
background: var(--text-primary);
color: var(--background);
transition: 0.3s;
}

:root {
  --background: #eaebed;
  --text-primary: #2e424d;
  --text-secondary:#e65c4f;
  --text-tertiary: #111111;
  --accent: #c1c1c1;
  --bg-back: #eaebed; 
  --border: #eaebed;
  --form-bg: #f2f2f2;
}
[data-theme='dark']{
  --background: black;
  --text-primary: #ccd6f6;
  --text-secondary: #26d6a7;
  --text-tertiary: #a8b2d1;
  --accent: #999999;
  --bg-light: black;
  --border: #a8b2d1;
  --form-bg: #f2f2f2;
}

